!!! Strict
%html
  %head
  %body
    %p
      Thanks for using our service.
    %p
      = @user.login + ", your account is ready to be used. Please visit our site: "
      %a{ :href => root_url }
        = root_url
