!!! Strict
%html
  %head
  %body
    %p Welcome to APP
    %p
      A new account was requested from this email address.
      %br
      If this is correct, please go to this web address:
    %p
      = confirm_account_url(:token => @user.perishable_token)
    %p Your login credentials are:
    %p
      = "Login: " + @user.login
      %br
      = "Password: " + @user.password

