- title t('.title')

#account-new.block
  %h2= yield :title
  .content.form
    - form_for @user, :url => account_path do |f|
      = f.error_messages
      = render :partial => f
      .group
        .left
          = f.submit t :register, :class => 'button'
        .clear