<% content_for :title_sidebar do -%>
  Want to help?
<% end -%>

<% content_for :sidebar do -%>
  Base needs your help to get much needed translations.
  So fork away and send those pull requests.
<% end -%>

<div id="home-index" class="block">
  <div class="content">
    <h2>Base Application Template</h2>
    <div class="inner">
      <p>Thanks for using Base application template.</p>
      <h3>Implemented Features</h2>
      <ul>
        <li>Authentication: Using authlogic gem.</li>
        <li>Internationalization: Being :es the only translated language.</li>
        <li>Email activation.</li>
        <li>Password reset.</li>
        <li>Configuration of a functional BDD environmnent.</li>
        <li>Test Coverage: >=95%.</li>
        <li>Basic Layout (Based in pilu/web-app-theme).</li>
      </ul>
      <h3>Links</h3>
      <ul>
        <li><a href="http://git-scm.com/">git</a></li>
        <li><a href="http://github.com/dchelimsky/rspec/tree/master">rspec</a></li>
        <li><a href="http://github.com/dchelimsky/rspec-rails/tree/master">rspec-rails</a></li>
        <li><a href="http://github.com/aslakhellesoy/cucumber/tree/master">cucumber</a></li>
        <li><a href="http://github.com/brynary/webrat/tree/master">webrat</a></li>
        <li><a href="http://github.com/carlosbrando/remarkable/tree/master">remarkable</a></li>
        <li><a href="http://github.com/bmabey/email-spec/tree/master">email-spec</a></li>
        <li><a href="http://github.com/sevenwire/forgery/tree/master">forgery</a></li>
        <li><a href="http://github.com/notahat/machinist/tree/master">machinist</a></li>
        <li><a href="http://github.com/binarylogic/authlogic/tree/master">authlogic</a></li>
        <li><a href="http://github.com/nex3/haml/tree/master">haml</a></li>
        <li><a href="http://github.com/pilu/web-app-theme/tree/master">web-app-theme</a></li>
        <li><a href="http://github.com/rtomayko/rdiscount/tree/master">rdiscount</a></li>
        <li><a href="http://github.com/justinfrench/formtastic/tree/master">formtastic</a></li>
      </ul>
    </div>
  </div>
</div>