- content_for :title_sidebar do
  Want to help?

- content_for :sidebar do
  Base needs your help to get much needed translations.
  So fork away and send those pull requests.

#home-index.block
  .content
    %h2 Base Application Template
    .inner
      %p Thanks for using Base application template.
      :markdown
        ### Implemented Features
        * Authentication: Using authlogic gem.
        * Internationalization: Being :es the only translated language.
        * Email activation.
        * Password reset.
        * Configuration of a functional BDD environmnent.
        * Test Coverage: >=95%.
        * Basic Layout (Based in pilu/web-app-theme).
        * Ruby 1.9 Compatible

        ### Links
        * [git](http://git-scm.com/)
        * [rspec](http://github.com/dchelimsky/rspec/tree/master)
        * [rspec-rails](http://github.com/dchelimsky/rspec-rails/tree/master)
        * [cucumber](http://github.com/aslakhellesoy/cucumber/tree/master)
        * [webrat](http://github.com/brynary/webrat/tree/master)
        * [remarkable](http://github.com/carlosbrando/remarkable/tree/master)
        * [email-spec](http://github.com/bmabey/email-spec/tree/master)
        * [forgery](http://github.com/sevenwire/forgery/tree/master)
        * [machinist](http://github.com/notahat/machinist/tree/master)
        * [authlogic](http://github.com/binarylogic/authlogic/tree/master)
        * [haml](http://github.com/nex3/haml/tree/master)
        * [web-app-theme](http://github.com/pilu/web-app-theme/tree/master)
        * [rdiscount](http://github.com/rtomayko/rdiscount/tree/master)
        * [formtastic](http://github.com/justinfrench/formtastic/tree/master)