- content_for :title_sidebar do
  ¿Quieres ayudar?

- content_for :sidebar do
  Base necesita de tu ayuda para obtener mas traducciones.
  Asi que agarra tu copia de github y manda tus cambios.

#home-index.block
  .content
    %h2 Base Plantilla de Aplicación
    .inner
      %p Gracias por usar la plantilla Base.
      %h3 Funcionalidad disponible:
      :markdown
        * Autenticación: Por medio de la gema authlogic.
        * Internacionalización: Siendo el ingles el idioma por defecto.
        * Activación de la cuenta por medio de correo electrónico.
        * Restablecimiento de la contraseña.
        * Configuracion de un ambiente orientado a pruebas (BDD).
        * Cobertura por pruebas: >= 95%
        * Diseño basico (Basado en web-app-theme).
      :markdown
        ### Enlaces de interés
        * [git](http://git-scm.com/)
        * [rspec](http://github.com/dchelimsky/rspec/tree/master)
        * [rspec-rails](http://github.com/dchelimsky/rspec-rails/tree/master)
        * [cucumber](http://github.com/aslakhellesoy/cucumber/tree/master)
        * [webrat](http://github.com/brynary/webrat/tree/master)
        * [remarkable](http://github.com/carlosbrando/remarkable/tree/master)
        * [email-spec](http://github.com/bmabey/email-spec/tree/master)
        * [forgery](http://github.com/sevenwire/forgery/tree/master)
        * [machinist](http://github.com/notahat/machinist/tree/master)
        * [authlogic](http://github.com/binarylogic/authlogic/tree/master)
        * [haml](http://github.com/nex3/haml/tree/master)
        * [web-app-theme](http://github.com/pilu/web-app-theme/tree/master)
        * [rdiscount](http://github.com/rtomayko/rdiscount/tree/master)
        * [formtastic](http://github.com/justinfrench/formtastic/tree/master)