<% content_for :title_sidebar do -%>
  ¿Quieres ayudar?
<% end -%>

<% content_for :sidebar do -%>
  Base necesita de tu ayuda para obtener mas traducciones.
  Asi que agarra tu copia de github y manda tus cambios.
<% end -%>

<div id="home-index" class="block">
  <div class="content">
    <h2>Base Plantilla de Aplicación</h2>
    <div class="inner">
      <p>Gracias por usar la plantilla Base.</p>
      <h3>Funcionalidad disponible:</h3>
      <ul>
        <li>Autenticación: Por medio de la gema authlogic.</li>
        <li>Internacionalización: Siendo el ingles el idioma por defecto.</li>
        <li>Activación de la cuenta por medio de correo electrónico.</li>
        <li>Restablecimiento de la contraseña.</li>
        <li>Configuracion de un ambiente orientado a pruebas (BDD).</li>
        <li>Cobertura por pruebas: >= 95%</li>
        <li>Diseño basico (Basado en web-app-theme)</li>
      </ul>
      <h3>Enlaces de interés</h3>

      <ul>
        <li><a href="http://git-scm.com/">git</a></li>
        <li><a href="http://github.com/dchelimsky/rspec/tree/master">rspec</a></li>
        <li><a href="http://github.com/dchelimsky/rspec-rails/tree/master">rspec-rails</a></li>
        <li><a href="http://github.com/aslakhellesoy/cucumber/tree/master">cucumber</a></li>
        <li><a href="http://github.com/brynary/webrat/tree/master">webrat</a></li>
        <li><a href="http://github.com/carlosbrando/remarkable/tree/master">remarkable</a></li>
        <li><a href="http://github.com/bmabey/email-spec/tree/master">email-spec</a></li>
        <li><a href="http://github.com/sevenwire/forgery/tree/master">forgery</a></li>
        <li><a href="http://github.com/notahat/machinist/tree/master">machinist</a></li>
        <li><a href="http://github.com/binarylogic/authlogic/tree/master">authlogic</a></li>
        <li><a href="http://github.com/nex3/haml/tree/master">haml</a></li>
        <li><a href="http://github.com/pilu/web-app-theme/tree/master">web-app-theme</a></li>
        <li><a href="http://github.com/rtomayko/rdiscount/tree/master">rdiscount</a></li>
        <li><a href="http://github.com/justinfrench/formtastic/tree/master">formtastic</a></li>
      </ul>
    </div>
  </div>
</div>