- title 'Forgot Password'

#block-reset.block
  %h2= yield :title
  .content.form
    %p Fill out the form below, instructions will be sent to your email.
    - form_tag password_reset_path do
      .group
        .left
          = label_tag :email, nil, :class => 'label'
        .right
          = text_field_tag :email, nil, :class => 'text_field'
        .clear
      .group
        .right
          = submit_tag "Reset Password", :class => 'button'
        .clear
